/* Estilos generales para toda la página */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('portatil.jpg'); /* Cambia la ruta a tu imagen */
    background-size: cover;
    background-position: below;
    color: #fff; /* Cambié el color del texto a blanco para que se vea mejor en la imagen de fondo */
}

/* Estilos para la cabecera */
header {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

/* Estilos para los botones de la cabecera */
nav {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #fff;
    color: #007BFF;
}

/* Estilos para el contenido principal */
#enlaces {
    max-width: 800px;
    margin: 80px auto 20px;
    padding: 20px;
    background-color: transparent; /* Cambiado a fondo transparente */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);	
}

/* Estilos para los botones de Formación e Historial Laboral */
#formacion, #nuevo1, #nuevo3 {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px; /* Añadido espacio entre los botones */
    background-color: rgba(0, 123, 255, 0.8); /* Fondo transparente con color de fondo */
    color: #fff;
    text-decoration: none;
    border: 2px solid rgba(0, 123, 255, 0.8); /* Borde con el mismo color que el fondo */
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}	

#formacion:hover, #nuevo1:hover, #nuevo3:hover {
    background-color: #fff;
    color: #007BFF;
}

/* Estilos para el nuevo botón de descargar currículum */
#descargar {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: rgba(0, 123, 255, 0.8);
    color: #fff;
    text-decoration: none;
    border: 2px solid rgba(0, 123, 255, 0.8);
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#descargar:hover {
    background-color: #fff;
    color: #007BFF;
}
	
	
}
    /* Estilos para los enlaces */
h2 {
    color: #000;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilos para el pie de página */
footer {
    background-color: transparent; /* Fondo transparente */
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.info {
    font-size: 14px;
}

.info a {
    color: #007BFF;
    text-decoration: none;
}

.info a:hover {
    text-decoration: underline;
}

  















