/* Estilos adicionales para la página de Formación */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2; /* Fondo de la página */
    color: #333; /* Color del texto */
    padding: 20px;
    line-height: 1.6; /* Altura de línea para mejorar la legibilidad */
}

h1 {
    color: #007BFF; /* Color del encabezado principal */
}

h2 {
    color: #333; /* Color de los encabezados secundarios */
}

p {
    margin-bottom: 15px;
}

a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Estilo para el enlace "Volver al Currículum" */
a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}


a[href="index.html"]:hover {
    text-decoration: none;
    color: #004080; /* Color al pasar el ratón sobre el enlace */
}


















